{% extends "base.html.twig" %}

{% block body %}
    <div class="card">
            <h5 class="card-header">User : {{comment.user}}</h5>
            <div class="card-body">
            <h5 class="card-title">Mail : {{comment.mail}} ---- Date : {{comment.date|date('d/m/Y')}}</h5>
            <p class="card-text">Commentaire : {{comment.commentaire}}</p>
            <a href="/comment/update/{{ comment.id }}" class="btn btn-primary"> Modifier le commentaire </a>
            <a href="/comment/delete/{{ comment.id }}" class="btn btn-primary"> Supprimer le commentaire </a>
            <a href="/article/all/" class="btn btn-primary">Voir les articles</a>
        </div>
        </div>
{% endblock %}